
.container-assistir {
    display: block;
    background-size: 100%;
    margin-top: 50px;
}

.container-assistir .content-movie-assistir {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.container-assistir .movie-assistir {
    position: relative;
    display: flex;
    padding: 3rem 1.5rem;
    background-image: linear-gradient(to top, #111111, rgba(0, 0, 0, 0.7)  100%);
}

.container-assistir .div-imagem-movie-assistir #img-movie-assistir {
    height: 350px;
    width: 230px;
    border-radius: 1rem;
    background: #181818;
}

.container-assistir .detalhes-movie-assistir {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    max-width: 65%;
}

.detalhes-movie-assistir .span-assistir-filmes-series {
    font-size: 80%;
    text-transform: uppercase;
    color: #ccc;
    letter-spacing: 2px;
}

.detalhes-movie-assistir .titulo-movie-assistir {
    margin: .5rem 0 1.1rem 0;
    font-size: 2rem;
}

.detalhes-movie-assistir .informacoes-movie-assistir {
    display: flex;
    margin: .7rem 0 1.1rem 0;
    background: #202020;
    padding: .2rem .9rem;
    border-radius: 3rem;
    overflow-x: auto;
    max-width: 100%;
}

.detalhes-movie-assistir .informacoes-movie-assistir section {
    margin-right: .7rem;
    background: #252525;
    padding: .2rem .9rem;
    border-radius: 3rem;
    font-weight: 600;
    font-size: .8rem;
    text-transform: uppercase;
}

.detalhes-movie-assistir .informacoes-movie-assistir section:last-child {
    margin-right: 0;
}

.detalhes-movie-assistir .informacoes-movie-assistir .section-temporadas {
    display: flex;
}

.detalhes-movie-assistir .informacoes-movie-assistir section span {
    white-space: nowrap;
}

.detalhes-movie-assistir .descricao-movie-assistir {
    text-transform: capitalize;
    line-height: 130%;
    font-size: .9rem;
    color: #ccc;
}

.detalhes-movie-assistir .generos-movie-assistir {
    padding: .7rem 0;
    max-width: 100%;
    min-height: min-content;
    overflow-x: auto;
    margin: 1.1rem 0 .7rem 0;
}

.detalhes-movie-assistir .generos-movie-assistir span {
    font-size: .7rem;
    margin-right: .7rem;
    background: #222222;
    border: 1px solid #707070;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .2s ease;
    border-radius: 3rem;
    cursor: pointer;
    white-space: nowrap;
    padding: .6rem 1rem;
}

.detalhes-movie-assistir .generos-movie-assistir span:last-child {
    margin-right: 0;
}

.detalhes-movie-assistir .generos-movie-assistir span:hover {
    color: #ccc;
    border: 1px solid #fff;
}

.container-assistir .release-date-assistir {
    opacity: 0.5;
}

.container-assistir .bt-assistir-assistir:hover {
    background: #b60000;
}

.container-assistir .div-iframe-movie-assistir {
    width: 100%;
}

.container-assistir .div-iframe-movie-assistir iframe {
    width: 100%;
}

@media (max-width: 1000px) {
    .div-imagem-movie-assistir #img-movie-assistir {
        display: none;
    }
}

@media (max-width: 800px) {
    
    .container-assistir .detalhes-movie-assistir {
        max-width: 100%;
        margin-left: 0;
    }
    
    .detalhes-movie-assistir .span-assistir-filmes-series {
        text-align: center;
        width: 100%;
    }

    .container-assistir .detalhes-movie-assistir h1 {
        font-size: 7vw;
        text-align: center;
        width: 100%;
        margin-bottom: 2rem;
    }

    .section-serie-finalizada {
        display: none;
    }
}

@media (max-width: 600px) {

    .container-assistir .detalhes-movie-assistir h1 {
        font-size: 8vw;
        width: 100%;
    }

    .detalhes-movie-assistir .informacoes-movie-assistir {
        width: 100%;
        justify-content: space-between;
        padding: .1rem .3rem;
    }
    
    .detalhes-movie-assistir .informacoes-movie-assistir section {
        margin-right: 0;
        padding: .4rem .4rem;
        font-size: .7rem;
    }

    .detalhes-movie-assistir .generos-movie-assistir::-webkit-scrollbar {
        display: none;
    }

    .detalhes-movie-assistir .generos-movie-assistir span {
        font-size: .5rem;
        margin-right: .5rem;
    }

}