.content-sugestoes {
    display: flex;
    flex-direction: column;
    margin: 1.2rem;
}

.div-filmes-sugestões {
    padding: .7rem;
    margin: 1.5rem 0;
    background: #202020;
}

@media (max-width: 600px) {
}